{{- $date := time .event.date -}}

<h4>{{- partial (printf "date.%s.html" .Lang) $date -}}</h4>
<p>
  {{- echoParam .event (printf "title_%s" .Lang) | safeHTML -}}<br />
  Open: {{ .event.open }} Start: {{ .event.start }}<br />
  Drakon Prizrak Start: {{ .event.drakon_start }}<br />
  {{ .label.entrance }}: {{ .event.entrance }}{{ .label.yen }}<br />
</p>
<h5>{{ echoParam .event (printf "venue_name_%s" .Lang) }}</h5>
<p>{{ echoParam .event (printf "venue_address_%s" .Lang) }}</p>
<p><a href="{{ .event.venue_access }}" target="_blank">{{- .label.access -}}</a></p>
<p>{{ htmlUnescape .event.google_map | safeHTML }}</p>
