{{- $date := time .event.date -}}

<h4>{{- partial (printf "date.%s.html" .Lang) $date -}}</h4>
<p>
  {{- .event.title | safeHTML -}}<br />
  Open: {{ .event.open }} Start: {{ .event.start }}<br />
  Drakon Prizrak Start: {{ .event.drakon_start }}<br />
  {{ .live.entrance }}: {{ .event.entrance }}<br />
</p>
<h5>{{ .event.venue_name }}</h5>
<p>{{ .event.venue_address }}</p>
<p><a href="{{ .event.venue_access }}" target="_blank">{{- .live.access -}}</a></p>
<p>{{ htmlUnescape .event.google_map | safeHTML }}</p>
