{{- $date := time .event.date -}}

<h4 class="live-venue-large">{{- partial (printf "date.%s.html" .Lang) $date -}}</h4>
<p class="live-venue-large">
  <strong>
    <a href="{{ .venue.access }}" target="_blank">
      {{ echoParam .venue (printf "name_%s" .Lang) | safeHTML }}
    </a>
  </strong>
  {{- if isset .event "tickets" -}}
    <br>
    <a href="{{ .event.tickets }}" target="_blank">{{- .label.tickets -}}</a>
  {{ end -}}
  {{- if isset .event "stream" -}}
    <br>
    <a href="{{ .event.stream }}" target="_blank">{{- .label.livestream -}}</a>
  {{ end -}}
</p>
<p>
  {{- if isset .event (printf "title_%s" .Lang) -}}
    {{- echoParam .event (printf "title_%s" .Lang) | safeHTML -}}<br>
  {{- end -}}

  Open: {{ cond (isset .event "open") .event.open .label.pending  }}
  Start: {{ cond (isset .event "start") .event.start .label.pending }}
  <br>
  Drakon Prizrak Start: {{ cond (isset .event "drakon_start") .event.drakon_start .label.pending }}
  <br>
  {{- if isset .event "advance" -}}
      Adv: {{ .event.advance }}{{ .label.yen }}
  {{ end -}}

  {{- if isset .event "entrance" -}}
    Door: {{ .event.entrance }}{{ .label.yen }}
  {{ end -}}

  {{- if isset .event "stream_price" -}}
    Stream: {{ .event.stream_price }}{{ .label.yen }}<br>
  {{ end -}}
</p>
<p>{{ echoParam .venue (printf "address_%s" .Lang) }}</p>
<p>{{ htmlUnescape .venue.google_map | safeHTML }}</p>
