{{- define "main" -}}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger improve-contrast-box" href="#page-top">{{ $.Site.Params.top }}</a>
        <a class="navbar-brand improve-contrast-box" href="{{- .Site.Params.languageSwitcher.target -}}">
          <img class="language-switcher-flag" src="{{- printf "img/flags/%s" $.Site.Params.languageSwitcher.flag | absURL -}}" alt="{{- $.Site.Params.languageSwitcher.text -}}" />
          {{- .Site.Params.languageSwitcher.text -}}
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {{- $.Site.Params.menuText -}}
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {{- range $menuItem := $.Site.Params.menus -}}
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger improve-contrast-box" href="{{- $menuItem.target -}}">{{- $menuItem.text -}}</a>
                </li>
            {{- end -}}
            {{- range $menuitem := $.Params.menus -}}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger improve-contrast-box" href="{{ $menuitem.url | safeHTML }}">{{- default $menuitem.url $menuitem.name | safeHTML -}}</a>
              </li>
            {{- end -}}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      {{- partial "slideshow.html" -}}

      <a href="#about" class="dp-logo js-scroll-trigger">
        <img id='logo' alt='Drakon Prizrak logo' src='{{- "img/DrakonPrizrak_White.svg" | absURL -}}' />
      </a>

      <a class="scroll-indicator btn btn-circle js-scroll-trigger" href="#about">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2><a class="header-link js-scroll-trigger" href="#about">{{- $.Site.Params.about.header | safeHTML -}}</a></h2>
            {{- if isset $.Site.Params.about "katakana" -}}
            <p id="katakana">{{- $.Site.Params.about.katakana -}}</p>
            {{- end -}}
            <p>{{- $.Site.Params.about.text | safeHTML -}}</p>
            <iframe src="https://www.youtube.com/embed/5glSj5OJ-NM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </section>

    <!-- Members Section -->
    <section id="members" class="content-section text-center">
      <h2><a class="header-link js-scroll-trigger" href="#members">{{- $.Site.Params.members.header -}}</a></h2>
      <div class="member-list">

      {{- range $member := $.Site.Params.members.members -}}
        <div id="{{- $member.name -}}" class="member-item">
          <div class="member-text">
            <h3 class="member-name">{{- $member.name -}}</h3>
            <img class="member-flag" alt="{{- $member.nationality }} Flag" src={{- printf "img/flags/%s" $member.flag | absURL -}}>

            <div class="member-info">
              <div class="member-info-line">
                <div class="member-info-line-header">{{- $.Site.Params.members.nationality -}}</div><div>{{- $member.nationality -}}</div>
              </div>

              <div class="member-info-line">
                <div class="member-info-line-header">{{- $.Site.Params.members.instrument -}}</div><div>{{- $member.instrument -}}</div>
              </div>

              <div class="member-info-line">
                <div class="member-info-line-header">{{- $.Site.Params.members.bands -}}</div><div>{{- $member.bands | safeHTML -}}</div>
              </div>

              <div class="member-info-line">
                <div class="member-info-line-header">{{- $.Site.Params.members.loves -}}</div><div>{{- $member.loves -}}</div>
              </div>
            </div><!--member-info-->

            <div class="member-nss">
              {{- range $name, $url := $member.socialhandles -}}
                <a href="{{ $url }}" target="_blank" class="btn">
                  <i class="fa fa-{{ $name }} fa-fw"></i>
                  <span class="network-name">{{ $name }}</span>
                </a>
              {{- end -}}
            </div>
          </div>

          <div class="member-image">
            <img alt="{{- $member.name -}}" src="{{- printf "img/members/%s" $member.picture | absURL -}}" />
          </div>
        </div><!--member-item-->
      {{- end -}}

      </div><!--member-list-->
    </section>

    <!-- Live Section -->
    <section id="live" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
            <div class="improve-contrast-box" id="downloads-contrast">
              <h2><a class="header-link js-scroll-trigger" href="#live">{{- $.Site.Params.live.header | safeHTML -}}</a></h2>

              {{- range $key, $event := $.Site.Data.gigs.upcoming -}}
                {{- $venue := (index $.Site.Data.venues $event.venue) -}}

                {{- if $event.large -}}
                  {{- partial "live.large.html" (dict "event" $event "Lang" $.Site.Language.Lang "label" $.Site.Params.live "venue" $venue) -}}
                {{- else -}}
                  {{- partial "live.small.html" (dict "event" $event "Lang" $.Site.Language.Lang "label" $.Site.Params.live "venue" $venue) -}}
                {{- end -}}
              {{- end -}}

              {{- if gt $.Site.Params.visiblePastLives 0 -}}
                <h3>{{- $.Site.Params.live.past_lives | safeHTML -}}</h3>
                {{- range $event := sort $.Site.Data.gigs.past "date" "desc" | first $.Site.Params.visiblePastLives -}}
                  {{- $venue := (index $.Site.Data.venues $event.venue) -}}

                  {{- partial "live.past.html" (dict "event" $event "Lang" $.Site.Language.Lang "label" $.Site.Params.live "venue" $venue) -}}
                {{- end -}}
              {{- end -}}
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2><a class="header-link js-scroll-trigger" href="#contact">{{- $.Site.Params.contact.header | safeHTML -}}</a></h2>
            <p>{{- $.Site.Params.contact.text | safeHTML -}}</p>
            <p><a href="mailto:contact@drakon-prizrak.com">contact@drakon-prizrak.com</a></p>

            <ul class="list-inline banner-social-buttons">
              {{- range $name, $url := $.Site.Params.socialhandles -}}

              <li class="list-inline-item">
                <a href="{{ $url }}" class="btn btn-default btn-lg">
                  <i class="fa fa-{{ $name }} fa-fw"></i>
                  <span class="network-name">{{ $name }}</span>
                </a>
              </li>

              {{- end -}}
            </ul>
          </div>
        </div>
      </div>
    </section>

    {{- if isset $.Params "mapsapikey" -}}
    <!-- Map Section -->
    <div id="map"></div>
    {{- end -}}

{{- end -}}
